.body{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1%;
}

.boxLeft{
   
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    animation: left;
    animation-duration: 1s;
    animation-iteration-count: initial;
}

@keyframes left {
    from{
        transform: translateY(40%);
    }    

    to{
        transform: translateY(0px);
    }
}

.boxLeft .heading{
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    color: white;

    
}

.boxLeft .para{
    margin-top: 2%;
    height: 10%;
    margin-left: 5%;
    color: white;
    width: 60%;
    font-weight:300;
    

}

.boxLeft .button{
    margin-left: 5%;
    margin-top: 5%;
    height: 10%;
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}

.button .button1{
    border-radius: 16px;
    border: none;
    height: 80%;
    width: 40%;
    background: linear-gradient(90deg,#9B51E0,#3081ED);
    cursor: pointer;
    color: white;
    position:absolute;
    
}

.button1:hover{
    background:linear-gradient(
        -225deg,
        #00ff00 0%,
        #7b00ff 29%,
        #ff1361 67%,
        #fff800 100%
    );
    transition: 500ms linear ease-in-out;
    box-shadow:inset 0px 0px 5px #c1c1c1 ;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.button .button2{
    border-radius: 16px;
    border: solid 1px white;
    height: 80%;
    width: 40%;
    background: transparent;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 2%;

}


.boxRight{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(25px);
    width: 30%;
    height: 80%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: right;
    animation-duration: 1s;
    animation-iteration-count: initial;
}

@keyframes right {
    from{
        transform: translateY(40%);
    }
    to{
        transform: translateY(0%);
    }
}

.boxRight img{
    height: 70%;
    width: 90%;
    object-fit:fill;
    border-radius:10% ;
}

.boxRight .foot{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.foot .left{
    color: white;
}

.foot .right{
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
    color: white;
}

.right .heart{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

